.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 170px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  width: 1240px;
}
.pos {
  margin-left: 70px;
}
.search {
  background-color: rgb(214, 232, 238);
}
