.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainDiv {
  border-bottom: solid 1px rgb(180, 180, 180);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 180px;
  background-color: white;
  width: 100%;
}
.mainDiv button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #04aa6d;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  width: 150px;
}
.pos {
  margin-left: 30px;
}
.search {
  background-color: rgb(214, 232, 238);
}
