.container {
  display: flex;
  flex-direction: column;
  border-right: solid 1px rgb(180, 180, 180);
  width: 130px;
  height: auto;
  gap: 40px;
  padding: 10px 0;
  transition: all 0.3s ease;
  transform: translateX(0);
  overflow: hidden;
  background-color: white;
  justify-content: start;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.icon {
  font-size: 24px;
  margin-right: 10px;
  display: flex;
}
/* .text {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease;
} */
